.u-section-1 .u-sheet-1 {
  min-height: 2322px;
}

.u-section-1 .u-text-1 {
  line-height: 1.4;
  font-family: Inter;
  font-weight: 500;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-translate_x: -300px;
  margin: 130px 55px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  font-weight: 500;
  margin: 90px 110px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 22px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-1 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-2 {
  margin-top: 62px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-2 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -53px 110px 0 923px;
}

.u-section-1 .u-line-3 {
  margin-top: 71px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-3 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -53px 109px 0 923px;
}

.u-section-1 .u-line-4 {
  margin-top: 72px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-6 {
  font-family: Inter;
  font-weight: 500;
  margin: 80px 110px 0 0;
}

.u-section-1 .u-line-5 {
  margin-top: 21px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-4 {
  font-family: Inter;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-6 {
  margin-top: 63px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-5 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-7 {
  width: 1140px;
  height: 3px;
  transform-origin: center top 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px auto 0;
}

.u-section-1 .u-btn-6 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-8 {
  margin-top: 45px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-10 {
  font-family: Inter;
  font-weight: 500;
  margin: 80px 110px 0 0;
}

.u-section-1 .u-line-9 {
  margin-top: 22px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-7 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 110px 0 922px;
}

.u-section-1 .u-line-10 {
  margin-top: 63px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-8 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-11 {
  margin-top: 62px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-btn-9 {
  font-family: Inter;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-family: Inter;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 111px 0 922px;
}

.u-section-1 .u-line-12 {
  transform-origin: left center 0px;
  margin-top: 62px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-btn-2 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
    margin-left: 823px;
  }

  .u-section-1 .u-btn-3 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 9px;
    margin-left: 823px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    letter-spacing: normal;
  }

  .u-section-1 .u-text-7 {
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-btn-5 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-line-7 {
    width: 940px;
    margin-top: 87px;
  }

  .u-section-1 .u-btn-6 {
    letter-spacing: 1px;
    margin-top: 24px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 10px;
    margin-left: 822px;
  }

  .u-section-1 .u-btn-8 {
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-btn-9 {
    letter-spacing: 1px;
    margin-top: 69px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -64px;
    margin-right: 11px;
    margin-left: 822px;
  }

  .u-section-1 .u-line-12 {
    margin-top: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 612px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-line-7 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 612px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 433px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 433px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 432px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 433px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 433px;
  }

  .u-section-1 .u-line-7 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 433px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 432px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 433px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 433px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2304px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 92px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    text-transform: none;
    margin-top: 36px;
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 18px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    margin-top: 62px;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-line-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    margin-top: 62px;
  }

  .u-section-1 .u-btn-5 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
    margin-top: 58px;
  }

  .u-section-1 .u-btn-6 {
    border-style: solid;
    text-transform: none;
    margin-top: 31px;
    padding: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-line-8 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-line-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-7 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-1 .u-line-10 {
    margin-top: 62px;
  }

  .u-section-1 .u-btn-8 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    border-style: solid;
    text-transform: none;
    margin-top: 30px;
    padding: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-line-12 {
    margin-top: 62px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-8,
.u-section-1 .u-btn-8:before,
.u-section-1 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-9,
.u-section-1 .u-btn-9:before,
.u-section-1 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}